.footer {
    background-color: var(--header-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
    
    }
    
    .footer-logo {
        color: var(--white-color);
        @media screen and (min-width: 480px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.16;
            text-align: center;
            letter-spacing: 0.03em;
        }

        @media screen and (min-width: 1200px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 1.16;
        }
    }
    
    .footer-address,
    .footer-list {
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    color: var(--white-color);
    line-height: 1.71;
    }
    
    .footer-address {
    // margin-bottom: 9px;
    margin-top: 28px;
    margin-bottom: 12px;


    }
    
    .footer-mail,
    .footer-tel {
    color: var(--transparent-color);
    transition: color var(--timing);
    }

    .footer-mail {
        margin-bottom: 12px;
    }
    
    .footer-text,
    .sign-up-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
        }   
    
    .footer-container {
        // width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        // margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        background-position: right;

        @media screen and (min-width: 480px) {
            width: 480px;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: nowrap;
            width: 768px;
        }
    }
    
    .footer-contacts {
      justify-content: center;
      text-align: center;
      padding-left: 109px;
      padding-right: 109px;
      padding-bottom: 0;
     
      @media screen and (min-width: 768px) {
 
      } 
      
    }
       
    

    .social {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    // margin-left: 70px;
    margin-right: 122px;
    margin-left: 122px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
       
    }
    }
    
    .social-list {
        display: flex;
        gap: 10px;
        margin-top: 20px;
    }
    
    .social-link {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    .social-icon {
    fill: var(--white-color);
    }
    
    .sign-up-form {
      
    // padding-top: 12px;
    // margin-left: 93px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
      padding-left: 15px;
      margin-right: 159px;
      
    }
    }
    
    .sign-up-mail {
        // width: 358px;
        width: 450px;
        height: 50px;
        padding-left: 16px;
    
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;
        background-color: var(--header-footer-color);
        margin-right: 12px;
        outline: transparent;
        transition: border var(--timing);
        color: #FFFFFF;
        &:focus {
            border: 1px solid var(--accent-color);
        }
        &::placeholder {
            font-size: 16px;
            line-height: 1.25;
            display: flex;
            align-items: center;
            padding-right: 16px;
            
            color: rgba(255, 255, 255, 0.6);
        }
    }
    
    .form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .social-wrap {
        display: flex;
        flex-wrap: wrap;
    }